<div class="bloc-career">
  <div class="bloc-career-option">
    <div class="description-career">
      <h1 class="title">CAREERS</h1>
      <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
      <div class="btn-see-open">
        <%= link_to "SEE OPEN POSITION","#", class:"btn-black"  %>
      </div>
      <div class="apply-btn">
        <%= link_to "> APPLY", "#"  %>
      </div>
    </div>
    <div class="description-career">
      <%= image_tag "career.jpg", alt: "alttext" %>
    </div>
  </div>
  <div class="open-postion">
    <h2 class="text-center">Open positions</h2>
    <div class="filter-select">
      <select name="pets" id="pet-select">
          <option value="">Category</option>
          <option value="dog">UX</option>
          <option value="dog">UI</option>
          <option value="dog">Developpement Wordpress</option>
      </select>
      <select name="pets" id="pet-select">
          <option value="">City</option>
          <option value="dog">New-York</option>
          <option value="cat">Paris</option>
          <option value="hamster">Milan</option>
      </select>
      <select name="pets" id="pet-select">
          <option value="">Contract type</option>
          <option value="dog">CDI</option>
          <option value="cat">Freelance</option>
          <option value="hamster">CDD</option>
      </select>
    </div>
    <div class="jobs-description">
      <% @jobs.each do |job| %>
        <div class="job-description">
          <h3><%= job.category %> - <%= job.location %></h3>
          <p><%= job.contract_type %></p>
          <p><%= job.description %></p>
        </div>
      <% end %>
      <div class="btn-section text-center">
        <%= link_to "VIEW MORE","#", class:"btn-black"  %>
      </div>
    </div>
  </div>
  <div class="dna-career">
    <div class="our-dna">
      <h4>OUR DNA</h4>
      <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
    </div>
    <div class="values-dna">
      <div class="value-dna">
        <h5>Value 1</h5>
        <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens.</p>
      </div>
      <div class="value-dna">
        <h5>Value 2</h5>
        <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens.</p>
      </div>
      <div class="value-dna">
        <h5>Value 3</h5>
        <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens.</p>
      </div>
    </div>
  </div>
</div>
