<div class="navbar-slider-left">
  <ul class="navbar-slider">
    <li>
      <%= link_to "HOME", "#" %>
    </li>
    <li>
      <%= link_to "SERVICES", "#" %>
    </li>
    <li>
      <%= link_to "CLIENTS", "#" %>
    </li>
    <li>
      <%= link_to "ABOUT US", "#" %>
    </li>
    <li>
      <%= link_to "BE IN TOUCH", "#" %>
    </li>
    <li>
      <%= link_to "INSTAGRAM FEED", "#" %>
    </li>
  </ul>
</div>
