<div class="navbar-slider-left">
  <ul class="navbar-slider">
    <li>
      <%= link_to "HOME", root_path %>
    </li>
    <li>
      <%= link_to "SERVICES", pages_services_path %>
    </li>
    <li>
      <%= link_to "CLIENTS", pages_clients_path %>
    </li>
    <li>
      <%= link_to "ABOUT US", "#" %>
    </li>
    <li>
      <%= link_to "BE IN TOUCH", new_contact_path %>
    </li>
    <li>
      <%= link_to "INSTAGRAM FEED", "#" %>
    </li>
  </ul>
</div>
