<div class="bloc-about-us">
  <div class="title-left">
    <h1 class="title">ABOUT US</h1>
  </div>
  <h2>FOUNDER</h2>
  <div class="about-description-img">
    <div class="decription-about">
      <h3>Schanel Bakkouche</h3>
      <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
      <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
      <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
    </div>
    <div class="about-img-schanel">
      <%= image_tag "schanel.png", alt: "image Schanel Bakkouche" %>
    </div>
  </div>
  <div class="bloc-our-story">
    <div class="img-our-story">
      <%= image_tag "our-story.jpg", alt: "alttext" %>
    </div>
    <div class="description-our-story">
      <div class="title-center">
        <h4 class="title">OUR STORY</h4>
      </div>
      <p>Created in 2018, SFB Creative is the first Intelligent Creative Agency focused on 360 branded content and digital experience.</p>
    </div>
  </div>
  <div class="bloc-talks">
    <div class="title-center">
      <h5 class="text-center title">THEY TALKS ABOUT US</h5>
    </div>
    <div class="talks-comments">
      <div class="blocs-talks-brands">
        <%= image_tag "cnews.jpg", alt: "alttext" %>
        <p class="quote-about first-quote">"</p>
        <p class="comments-about">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
        <p class="quote-about second-quote">"</p>
      </div>
      <div class="blocs-talks-brands">
        <%= image_tag "vogue.png", alt: "alttext" %>
        <p class="quote-about first-quote">"</p>
        <p class="comments-about">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
        <p class="quote-about second-quote">"</p>
      </div>
    </div>
  </div>
  <div class="bloc-partner">
    <div class="title-center">
      <h5 class="text-center title">PARTNERS</h5>
    </div>
    <div class="logo-partner">
      <%= image_tag "google-partner.png", alt: "alttext" %>
      <%= image_tag "instagram-partner.png", alt: "alttext" %>
    </div>
    <div class="logo-partner">
      <%= image_tag "tiktok-partner-icon.png", alt: "alttext" %>
      <%= image_tag "facebook-partner.png", alt: "alttext" %>
    </div>
  </div>
</div>
