<div class="bloc-clients">
  <div class="title-center">
    <h1 class="text-center title">CLIENTS</h1>
  </div>
  <div class="bloc-clients-logo">
    <div class="bloc-logo">
      <div class="bloc-logo-item">
        <%= image_tag "ysl.png", alt: "alttext" %>
      </div>
      <div class="bloc-logo-item">
        <%= image_tag "prada.png", alt: "alttext" %>
      </div>
      <div class="bloc-logo-item">
        <%= image_tag "lancome.png", alt: "alttext" %>
      </div>
    </div>
    <div class="bloc-logo">
      <div class="bloc-logo-item">
        <%= image_tag "loreal.png", alt: "alttext" %>
      </div>
      <div class="bloc-logo-item">
        <%= image_tag "vogue.png", alt: "alttext" %>
      </div>
      <div class="bloc-logo-item">
        <%= image_tag "calvin-klein.png", alt: "alttext" %>
      </div>
    </div>
    <div class="bloc-logo">
      <div class="bloc-logo-item">
        <%= image_tag "jbrand.png", alt: "alttext" %>
      </div>
      <div class="bloc-logo-item">
        <%= image_tag "mytheresa.png", alt: "alttext" %>
      </div>
      <div class="bloc-logo-item">
        <%= image_tag "gucci.png", alt: "alttext" %>
      </div>
    </div>
    <div class="bloc-logo">
      <div class="bloc-logo-item">
        <%= image_tag "montaigne-market.png", alt: "alttext" %>
      </div>
      <div class="bloc-logo-item">
        <%= image_tag "cartney.png", alt: "alttext" %>
      </div>
      <div class="bloc-logo-item">
        <%= image_tag "five-avenue.png", alt: "alttext" %>
      </div>
    </div>
  </div>
</div>
<div class="bloc-clients-reviews">
  <h2 class="text-center">THEIR REVIEWS</h2>
  <p class="quote">"</p>
  <p class="text-clients-reviews" data-aos="fade-up">Expressiveness and individuality are key to MAC, so it’s important for us to highlight it during key moments like the New York Fashion Week. Thanks to Pulse Advertising and the awesome creators, we were able to convey these values in a playful and approachable way which resonates with Gen Z.</p>
  <p class="quote">"</p>
  <div class="btn-section text-center">
    <%= link_to "WORK WITH US",jobs_path, class:"btn-black"  %>
  </div>
</div>
<div class="bloc-our-realisations">
  <div class="title-center">
    <h3 class="text-center title" data-aos="fade-up">OUR REALISATIONS</h3>
  </div>
  <h4 class="text-center">EDITORIAL</h4>
  <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
  <div class="btn-section text-center">
    <%= link_to "#", class:"btn-collection" do %>
      VIEW MORE <span style="font-size:18px;">&#9660</span>
    <% end %>
  </div>
</div>
<div class="bloc-image-logo-realisation">
  <div class="b-image-realisation">
    <div class="b-image-realisation-item" data-aos="flip-up">
      <%= image_tag "img-r-1.jpg", alt: "image reférence 1" %>
    </div class="b-image-realisation-item">
    <div class="b-image-realisation-item" data-aos="flip-down">
      <%= image_tag "vogue.png", class:"logo-clients", alt: "logo vogue" %>
    </div class="b-image-realisation-item">
    <div class="b-image-realisation-item" data-aos="flip-up">
      <%= image_tag "img-r-2.jpg", alt: "image reférence 2" %>
    </div class="b-image-realisation-item">
    <div class="b-image-realisation-item" data-aos="flip-down">
      <%= image_tag "gucci.png", class:"logo-clients", alt: "logo gucci" %>
    </div class="b-image-realisation-item">
  </div>
  <div class="b-image-realisation">
    <div class="b-image-realisation-item" data-aos="flip-up">
      <%= image_tag "loreal.png", class:"logo-clients", alt: "logo l'oréal" %>
    </div class="b-image-realisation-item">
    <div class="b-image-realisation-item" data-aos="flip-down">
      <%= image_tag "img-r-3.jpg", alt: "image reférence 3" %>
    </div class="b-image-realisation-item">
    <div class="b-image-realisation-item" data-aos="flip-up">
      <%= image_tag "img-r-4.jpg", alt: "image reférence 4" %>
    </div class="b-image-realisation-item">
    <div class="b-image-realisation-item" data-aos="flip-down">
      <%= image_tag "img-r-5.jpg", alt: "image reférence 5" %>
    </div class="b-image-realisation-item">
  </div>
  <div class="b-image-realisation">
    <div class="b-image-realisation-item" data-aos="flip-up">
      <%= image_tag "img-r-6.jpg", alt: "image reférence 6" %>
    </div class="b-image-realisation-item">
    <div class="b-image-realisation-item" data-aos="flip-down">
      <%= image_tag "img-r-7.jpg", alt: "image reférence 7" %>
    </div class="b-image-realisation-item">
    <div class="b-image-realisation-item" data-aos="flip-up">
      <%= image_tag "chanel.png", class:"logo-clients", alt: "logo chanel" %>
    </div class="b-image-realisation-item">
    <div class="b-image-realisation-item" data-aos="flip-down">
      <%= image_tag "img-r-8.jpg", alt: "image reférence 8" %>
    </div class="b-image-realisation-item">
  </div>
</div>
<div class="btn-section text-center">
  <%= link_to "VIEW MORE","#", class:"btn-black"  %>
</div>
