<div class="bloc-clients">
  <h1 class="text-center">CLIENTS</h1>
  <div class="bloc-clients-logo">
    <div class="bloc-logo">
      <%= image_tag "ysl.png", alt: "alttext" %>
      <%= image_tag "prada.png", alt: "alttext" %>
      <%= image_tag "lancome.png", alt: "alttext" %>
    </div>
    <div class="bloc-logo">
      <%= image_tag "loreal.png", alt: "alttext" %>
      <%= image_tag "vogue.png", alt: "alttext" %>
      <%= image_tag "calvin-klein.png", alt: "alttext" %>
    </div>
    <div class="bloc-logo">
      <%= image_tag "jbrand.png", alt: "alttext" %>
      <%= image_tag "mytheresa.png", alt: "alttext" %>
      <%= image_tag "gucci.png", alt: "alttext" %>
    </div>
    <div class="bloc-logo">
      <%= image_tag "montaigne-market.png", alt: "alttext" %>
      <%= image_tag "cartney.png", alt: "alttext" %>
      <%= image_tag "five-avenue.png", alt: "alttext" %>
    </div>
  </div>
</div>
<div class="bloc-clients-reviews">
  <h2 class="text-center">THEIR REVIEWS</h2>
  <p class="quote">"</p>
  <p class="text-clients-reviews">Expressiveness and individuality are key to MAC, so it’s important for us to highlight it during key moments like the New York Fashion Week. Thanks to Pulse Advertising and the awesome creators, we were able to convey these values in a playful and approachable way which resonates with Gen Z.</p>
  <p class="quote">"</p>
  <div class="btn-section text-center">
    <%= link_to "WORK WITH US","#", class:"btn-black"  %>
  </div>
</div>
<div class="bloc-our-realisations">
  <h3 class="text-center">OUR REALISATIONS</h3>
  <h4 class="text-center">EDITORIAL</h4>
  <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
  <div class="btn-section text-center">
    <%= link_to "WORK WITH US","#", class:"btn-black"  %>
  </div>
</div>
