<%= render 'shared/banner' %>
<div class="creative-succes">
  <div class="bloc-creative">
    <h1 class="title">CREATIVE SUCCESS</h1>
    <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
    <div class="anime-bloc-creative">
      <span><p>Innovation & creation</p></span>
      <span><p>100% production</p></span>
      <span><p>Digital amplification</p></span>
    </div>
  </div>
  <div class="bloc-creative" style="text-align: center;">
    <%= image_tag "https://static.wixstatic.com/media/9e81cd_df708d931d334d23bfe91aa8897254a9~mv2.jpg/v1/crop/x_16,y_3,w_767,h_1125/fill/w_765,h_1125,al_c,q_85/Teddy-Quinlivan-Glass-Magazine-Cover-Pho.webp", alt: "iphone and video sfb" %>
  </div>
</div>
<div class="we-creative">
  <div class="title-center">
    <h2 class="text-center title">WE ARE CREATIVE</h2>
  </div>
  <div class="bloc-we-creative">
    <ul>
      <li>CONTENT<br>STRATEGY</li>
      <li>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</li>
    </ul>
    <ul>
      <li>CONTENT<br>CREATION</li>
      <li>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</li>
    </ul>
    <ul>
      <li>DIGITAL<br>AMPLIFICATION</li>
      <li>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</li>
    </ul>
    <ul>
      <li>MEDIA<br>PLACEMENT</li>
      <li>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</li>
    </ul>
  </div>
  <div class="btn-section text-center">
    <%= link_to "OUR OFFER", pages_services_path, class:"btn-black"  %>
  </div>
</div>
<div class="some-job">
  <h3 class="text-center">SOME OF OUR JOBS</h3>
  <div class="bloc-img-job">
    <div class="img-job-ref">
      <%= image_tag "vogue-1.jpg", alt: "image vogue spain" %>
      <p>VOGUE SPAIN</p>
    </div>
    <div class="img-job-ref">
      <%= image_tag "vogue-2.jpg", alt: "image vogue italy" %>
      <p>VOGUE ITALY</p>
    </div>
    <div class="img-job-ref">
      <%= image_tag "vogue-3.jpg", alt: "image vogue us" %>
      <p>VOGUE US</p>
    </div>
  </div>
  <div class="btn-section text-center">
    <%= link_to "WORK",pages_clients_path, class:"btn-black"  %>
  </div>
</div>
<div class="bloc-creative-intelligent">
  <div class="bloc-pink">
    <div class="bloc-pink-content">
      <p>WHEN CONTENT<br>SPEAK YOUR<br>BRAND</p>
      <p class="texte-intelligent">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
      <%= link_to "ABOUT US", pages_about_path, class:"btn-white", id:"about-btn"  %>
      <span class="vertical-line" id="line"></span>
      <div class="title-creative-intelligent">
        <p>INTELLIGENT</p>
        <p>CREATIVE</p>
        <p id="line-stop">AGENCY</p>
      </div>
    </div>
  </div>
  <div class="bloc-pink hidden-opacity" id="img-creative-intel" style="background-image: url(<%= asset_path 'creative-intelligent.jpg' %>)"></div>
</div>
<div class="bloc-reviews-clients">
  <div class="bloc-title-reviews-comments">
    <div class="bloc-title-reviews">
      <h4 class="text-center">
        REVIEWS<br>OF OUR <br>CLIENTS
      </h4>
    </div>
    <div class="bloc-title-reviews">
      <p class="text-center quote">"</p>
      <br>
      <p>Expressiveness and individuality are key to MAC, so it’s important for us to highlight it during key moments like the New York Fashion Week. Thanks to Pulse Advertising and the awesome creators, we were able to convey these values in a playful and approachable way which resonates with Gen Z.</p>
      <br>
      <p class="text-center quote">"</p>
    </div>
  </div>
  <div class="btn-section text-center">
    <%= link_to "OUR CLIENTS", pages_clients_path, class:"btn-black"  %>
  </div>
</div>
<div class="paralaxe-home" style="background-image: url(<%= asset_path 'paralaxe-home.jpg' %>)"></div>
<div class="bloc-carreer-home">
  <h5 class="title">CAREERS</h5>
  <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, <br>et empêche de se concentrer sur la mise en page elle-même.</p>
  <div class="btn-section" style="margin-top: 50px;">
    <%= link_to "Discover jobs",jobs_path, class:"btn-black"  %>
  </div>
</div>
