<div class="bloc-offering">
  <div class="bloc-offering-title">
    <h1 class="title">PACKAGES</h1>
    <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
  </div>
  <div class="bloc-offerin-content">
    <h2>Content strategy & creation</h2>
    <div class="cards-content">
      <div class="card-content">
        <h3>Simple</h3>
        <ul class="details-package">
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
        </ul>
        <p>1000€</p>
        <div class="bloc-interesting">
          <%= link_to "Interesting", new_contact_path, class:"btn-black"  %>
        </div>
      </div>
      <div class="card-content">
        <h3>Essentiels</h3>
        <ul class="details-package">
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
        </ul>
        <p>1000€</p>
        <div class="bloc-interesting">
          <%= link_to "Interesting", new_contact_path, class:"btn-black"  %>
        </div>
      </div>
      <div class="card-content">
        <h3>Plus</h3>
        <ul class="details-package">
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
        </ul>
        <p>1000€</p>
        <div class="bloc-interesting">
          <%= link_to "Interesting", new_contact_path, class:"btn-black"  %>
        </div>
      </div>
    </div>
  </div>
  <div class="bloc-offerin-content">
    <h2>Digital amplification</h2>
    <div class="cards-content">
      <div class="card-content">
        <h3>Simple</h3>
        <ul class="details-package">
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
        </ul>
        <p>1000€</p>
        <div class="bloc-interesting">
          <%= link_to "Interesting", new_contact_path, class:"btn-black"  %>
        </div>
      </div>
      <div class="card-content">
        <h3>Essentiels</h3>
        <ul class="details-package">
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
        </ul>
        <p>1000€</p>
        <div class="bloc-interesting">
          <%= link_to "Interesting", new_contact_path, class:"btn-black"  %>
        </div>
      </div>
      <div class="card-content">
        <h3>Plus</h3>
        <ul class="details-package">
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
        </ul>
        <p>1000€</p>
        <div class="bloc-interesting">
          <%= link_to "Interesting", new_contact_path, class:"btn-black"  %>
        </div>
      </div>
    </div>
  </div>
  <div class="bloc-offerin-content">
    <h2>Media placement</h2>
    <div class="cards-content">
      <div class="card-content">
        <h3>Simple</h3>
        <ul class="details-package">
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
        </ul>
        <p>1000€</p>
        <div class="bloc-interesting">
          <%= link_to "Interesting", new_contact_path, class:"btn-black"  %>
        </div>
      </div>
      <div class="card-content">
        <h3>Essentiels</h3>
        <ul class="details-package">
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
        </ul>
        <p>1000€</p>
        <div class="bloc-interesting">
          <%= link_to "Interesting", new_contact_path, class:"btn-black"  %>
        </div>
      </div>
      <div class="card-content">
        <h3>Plus</h3>
        <ul class="details-package">
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
          <li class="details-item"><i class="fas fa-check"></i>Le lorem ipsum est, en imprimerie.</li>
        </ul>
        <p>1000€</p>
        <div class="bloc-interesting">
          <%= link_to "Interesting", new_contact_path, class:"btn-black"  %>
        </div>
      </div>
    </div>
  </div>
</div>
