<div class="bloc-contact-description">
  <div class="title-center">
    <h1 class="title">BE IN TOUCH</h1>
  </div>
  <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
</div>
<div class="bloc-contact-cities">
  <div class="bloc-cities">
    <h2>New York</h2>
    <p>19° | 60°F | CLEAR | 07:42:20</p>
    <p>Address<br>46 Quai Hyppolite Jaÿr<br>69009 New York City</p>
    <%= image_tag "ny.jpg",id:"nyc", alt: "image new york" %>
  </div>
  <div class="bloc-cities">
    <h3>Paris</h3>
    <p>19° | 60°F | CLEAR | 07:42:20</p>
    <p>Address<br>46 Quai Hyppolite Jaÿr<br>69009 New York City</p>
    <%= image_tag "paris.jpg",id:"paris", alt: "image paris" %>
  </div>
  <div class="bloc-cities">
    <h4>Milan</h4>
    <p>19° | 60°F | CLEAR | 07:42:20</p>
    <p>Address<br>46 Quai Hyppolite Jaÿr<br>69009 New York City</p>
    <%= image_tag "milan.jpg",id:"milan", alt: "image milan" %>
  </div>
</div>
<div class="btn-section text-center">
  <%= link_to "Contact us","#", class:"btn-black"  %>
</div>
<%= simple_form_for(@contact) do |form| %>
  <div class="bloc-input-form">
    <%= form.input :first_name, label: "FIRST NAME",collection: [['Ms.', 'Madame' ], ['Mr.', 'Monsieur'],['Mrs.', 'Mademoiselle' ]], selected: 1 %>
    <%= form.input :email, label: "E-MAIL ADDRESS", placeholder: "Insert First Name" %>
    <%= form.input :location, label: "LOCATION", collection: ['New York', 'Paris', 'Milan'], selected: 1 %>
  </div>
  <div class="bloc-input-form">
    <%= form.input :phone, label: "PHONE NUMBER", placeholder: "Insert phone number" %>
    <%= form.input :offers, label: "OFFERS", collection: ['Content strategy & creation', 'Digital amplification', 'Media placement', 'All'], selected: 1 %>
    <%= form.input :subject, label: "SUBJECTS", placeholder: "Insert subject" %>
  </div>
  <div style="padding: 0 5px;">
    <%= form.input :project, label: "PROJECT", placeholder: "Insert message" %>
    <%= form.button :submit, "SEND" %>
  </div>
<% end %>
