<!DOCTYPE html>
<html>
  <head>
    <title>Sfbcreative</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <%= favicon_link_tag asset_path('SFB_logo_B.png') %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <%#= render 'shared/navbar' %>
    <div class="site-wrapper">
      <%= render 'shared/navbar-slider' %>
      <%= render 'shared/logo-sfb' %>
      <div class="wrapper-web">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
</html>
